<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      body {
        background: #000000ee;
      }
      .card-img-top {
        width: 80%;
      }
      .card-img-top img {
        width: 100%;
      }
      .news-card-body {
        background: #161616;
        padding: 20px;
        border-left: 2px solid rgba(25, 135, 84);

        outline: none;
        box-shadow: none;
      }
    </style>
    <title>tNews</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">tNews</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tech">Techenology</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/entertain">Entertainment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/business">Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/programming">Programming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/ai">AI</a>
            </li>
          </ul>
          <form action="/search" method="post" class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              name="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <br />
    <br />
    <br />
    {% if search %}
    <h1 class="text-center text-light">Showing news about {{search}}</h1>
    {% endif %}
    <div
      class="container text-light py-3 px-3 my-3 mx-auto row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
    >
      {% for item in data %}
      <div class="col">
        <div class="news-card">
          <div class="news-card-body text-light">
            <div class="card-img-top">
              <img src="{{item.urlToImage}}" alt="" srcset="" />
            </div>

            <p class="card-text">{{item.title}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{item.url}}">
                  <button class="btn btn-sm btn-outline-success">View</button>
                </a>
              </div>
              <small class="text-muted">{{item.publishedAt}}</small>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
